body{
    background: url('https://images3.alphacoders.com/154/154877.jpg') no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
margin: 0;
    
}
#field{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
#field img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
#snow{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
#snow img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
#sauna{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
#sauna img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
.ranch{
    background-color: white;
    color:white;
    height: 400px;
    width: 600px;
    margin: 0px;
    border-color: white;
    border-style: solid;
}
.main{
    width: 1250px;
    display: flex;
    flex-wrap: wrap;
}
#txtbox{
    background-color: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
}
#txtr{
    text-align: left;
    font-size: xx-large;
    padding: 10px;
}
#txt{
    text-align: left;
    font-size: xx-large;
    padding: 10px;
    color: white;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-style: italic;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 9vh;
    background-color:white;
}
#poke-pic{
    height: 125px;
    width: 200px;
}
a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}
a:hover {
    color: #848484;
    cursor: pointer;
}
#test{
    color:white
}
.page{
    display: flex;
    margin-top: 15px;
    margin-left: 15px;
}
#p{
    color: white;
    text-decoration:solid;
    font-weight: bolder;
    margin-left: 300px;
    margin-right: 300px;
    font-size: larger;
    display: flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
    height: 1200px;
    width: 700px;
  }
  #p-txt{
    background-color: rgba(0,0,0,.5);
    color: #fff;
    font-size: xx-large;
    display: flex;
    align-items: center;
    margin-left: 15px;
    /* border-radius: 10%; */
  }
  #front{
      margin: 25px;
  }
  #shining-pic{
    height: 500px;
    width: 700px;
  }
  #shiny{
    
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 17px 48px;
    color: #fff;
    background-color: #1ED760;
    height: 48px;


  }
  #shiny:hover{
  transform: scale(1.04);
        background-color: #21e065;
  }
  #title{
    color: white;
    font-size: 75px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    margin-left: 15px;
    border-radius: 10%;
  }
  #shiny-pic{
      margin-top: 25px;
  }
  footer{
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 20vh;
    width: 100%;
    bottom: 0;
    top:20vh;
    background-color: white;
}
.footertitle{
background-color: white;
color: black;
font-size:xx-large;
/* font-family: Arial, Helvetica, sans-serif; */
font-weight: bold;
}
.fcont{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
    font-size:medium;
    margin-top: 5px;
}
.fdiv{
    display: flex;
    flex-direction: column;
}